<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>

	<body>
		{% if message %}
			<h3>{{message}}</h3>
		{% else %}
			<h3>{{success_message}}</h3>
		{% endif %}

		{% for line in fetched_lines %}
			<p> {{line}} </p>
		{% endfor %}

	</body>
</html>