@font-face
{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.ttf');
	font-weight: 300;
}
@font-face
{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 400;
}@font-face
{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: 500;
}
@font-face
{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.ttf');
	font-weight: 600;
}
@font-face
{
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 700;
}
*
{
	font-family: 'Montserrat';
	text-decoration: none !important;
	outline: none !important;
}
body
{
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #F4F8FD 0%, #F9F5FB 100%);
}
ul
{
	list-style: none;
}
.pos-rel
{
	position: relative;
}
.full-height
{
	position: sticky;
	top: 0;
	height: 100vh;
}
.sidebar
{
	width: 184px;
	height: 100vh;
	padding: 28px 10px 28px 21px;
	background: linear-gradient(180deg, #F8F5FB 0%, #F4F8FD 100%);
	box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.green-circle
{
	width: 47px;
	height: 47px;	
	background: rgba(40, 199, 111, 0.25);
	display: inline-block;
	border-radius: 50%;
	margin-right: 19px;
}
.bottom-line
{
	width: 111px;
	margin-left: 0;
	border-top: .5px solid #939FB5;
	margin-bottom: 17px;
}
.head-text p
{
	font-weight: 600;
	font-size: 30px;
	line-height: 18px;
}
.sideitem
{
	margin-bottom: 10px;
	line-height: 24px;
	padding: 10px 14px;
	border-radius: 6px;
}
.sideitem.active
{
	background: #F3AD6E;
}
.sidelink,
.sidelink:hover
{
	font-weight: 500;
	font-size: 15px;
	color: #939FB5;
}
.sideitem.active .sidelink,
.sideitem.active .sidelink:hover
{
	color: #fff;
}
.sidelink img
{
	margin-right: 9px;
}
.bottomitem
{
	margin-bottom: 9px;
}
.bottom-nav
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 32px;
}
.bottom-link img
{
	margin-right: 20px;
}
.box-card
{
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	height: 100%;
}
.plan-div
{
	padding: 73px 37px 52px;
}
.plan-bx
{
	padding: 54px 66px;
	text-align: center;
	background: #F3AD6E;
	border-radius: 8px;	
}
.plan-head
{
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	color: #fff;
}
.plan-text
{
	font-size: 14px;
	line-height: 18px;
	color: #939FB5;
}
.on-track-c
{
	width: 21px;
	height: 21px;
	background: #fff;
	border: 2px solid #28C76F;
	display: inline-block;
	border-radius: 50%;
}
.chart-caddle
{
	overflow: hidden;
}
.video-bx
{
	padding: 18px;
}
.video-ply
{
	width: 100%;
	height: 540px;
	border-radius: 10px;
	object-fit: cover;
}
.playpause
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 132px;
	height: 101px;	
	background: #F3AD6E;
	border-radius: 6px;
}
.trans-div
{
	padding: 6px 19px;
	text-align: center;
}
.transport-head
{
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 27px;
	color: #000;
}
.trans-img
{
	margin-bottom: 14px;
}
.transport-item
{
	border-bottom: 0.5px solid #939FB5;
	margin-bottom: 8px;
}
.transport-item:last-child
{
	border-bottom: none;
}
.trans-count
{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	margin-bottom: 10px;
}
.status-text
{
	color: #939FB5;
	font-size: 14px;
	line-height: 18px;
}
.details-col
{
	padding: 18px 23px 0;
}
.details-head
{
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 22px;
	line-height: 18px;
	color: #000;
}
.details-ul
{
	padding: 0;
}
.details-list
{
	border-bottom: 0.5px solid #939FB5;
	margin-bottom: 14px;
}
.details-list:last-child
{
	border-bottom: none;
}
.info-d
{
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.info-d img
{
	margin-right: 5px;
}
.info-num
{
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
}
.info-d.ben
{
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	color: #939FB5;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.info-d.ben img
{
	margin-right: 21px;
}
.info-ben
{
	font-weight: 600;
	font-size: 25px;
	line-height: 18px;
}
.info-ben.red
{
	color: #F96E6F;
}
.info-ben.yellow
{
	color: #F3AD6E;
}
.info-ben.green
{
	color: #28C76F;
}
.details-list.benefit
{
	margin-bottom: 22px;
}
.details-head.ben
{
	margin-bottom: 35px;
}
.volume-box
{
	padding: 24px 28px;
}
.volume-head
{
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
}
.cstm-pill
{
	padding: 5px 14px;
	border: 1px solid #939FB5;
	background: transparent !important;
	font-weight: 500 !important;
	font-size: 15px !important;
	line-height: 18px !important;
	color: #939FB5 !important;
	border-radius: 0 !important;
}
.cstm-pill.active
{
	color: #fff !important;
	background: #939FB5 !important;
}
.hour-btn
{
	border-radius: 20px 0px 0px 20px !important;
}
.week-btn
{
	border-radius: 0px 20px 20px 0px !important;
}
.drop-btn
{
	background: transparent;
	border: none;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #939FB5;
	margin-right: 22px;
}
.drop-btn img
{
	width: 13px;
	margin-right: 9px;
}
.cstm-drop
{
	padding: 8px 7px;
	left: auto !important;
	right: 0 !important;
}
.cstm-drop hr
{
	border: 0.5px solid #939FB5;
}
.cstm-drop label
{
	 font-size: 13px;
	line-height: 15px;
	color: #939FB5;
}
.date-input
{
	background: rgba(196, 196, 196, 0.2);
	border: none;
	padding: 2px 4px;
	border-radius: 0px;
	height: auto !important;
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
}
.chart-item
{
	margin-right: 50px;
	display: inline-block;
}
.chart-item.dir
{
	margin-right: 20px;
	display: inline-block;
}
.chart-link,
.chart-link:hover
{
	color: #939FB5;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}
.chart-link.active,
.chart-link.active:hover
{
	color: #000;
}
.chart-link img
{
	margin-right: 10px;
}
@media only screen and (max-width: 1100px)
{
	.volume-head
	{
		font-size: 21px;
	}
	.drop-btn
	{
		margin-right: 0;
	}
	.plan-div 
	{
	    padding: 53px 19px 52px;
	}
	.plan-bx 
	{
	    padding: 39px 29px;
	    text-align: center;
	    background: #F3AD6E;
	    border-radius: 8px;
	}
	.plan-head 
	{
		font-weight: 600;
		font-size: 35px;
		line-height: 61px;
		color: #fff;
	}
	.info-ben 
	{
	    font-weight: 600;
	    font-size: 20px;
	    line-height: 18px;
	}
	.info-d.ben 
	{
	    font-weight: 400;
	    font-size: 15px;
	    line-height: 18px;
	    color: #939FB5;
	    display: flex;
	    align-items: center;
	    margin-right: 6px;
	}
	.info-d.ben img
	{
		margin-right: 10px;
	}
}
@media only screen and (max-width: 768px)
{
	.drop-btn
	{
		background: transparent;
		border: none;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #939FB5;
		margin-right: 5px;
	}
}
@media only screen and (max-width: 550px)
{
	.volume-box
	{
		padding: 24px 16px;
	}
}